[Unit]
Description=Start PowerControl.py script from systemd
After=network.target

[Service]
Type=simple
User=root
Group=root

WorkingDirectory=/home/jetson/T208
ExecStart=/home/jetson/T208/PowerControl.py
Restart=always
RestartSec=5

[Install]
WantedBy=network.target

